<ion-header>
</ion-header>

<ion-content>

  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <ion-img src="../assets/img/img.jpg"></ion-img>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-img src="../assets/img/pisci.jpg"></ion-img>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-img src="../assets/img/sala.jpg"></ion-img>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>