<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zona de pagos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gastos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Condominio las Palmas</ion-card-subtitle>
      <ion-card-title>Balance General</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Acontinuacion se detalla el balance general de el condominio las Palmas.
    </ion-card-content>
    <ion-card-content>
      <ion-row>
        <ion-col>
          DEUDA
        </ion-col>
        <ion-col>
          TOTAL: 
        </ion-col>     
      </ion-row>
      <ion-row>
        <ion-col>
          BALANCE
        </ion-col>
        <ion-col>
          TOTAL:
        </ion-col>
      </ion-row>   
    </ion-card-content>
  </ion-card>
    
</ion-content>