<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Navigation Bar</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Subheader</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Condominio las Palmas</ion-card-subtitle>
      <ion-card-title>Balance General</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Acontinuacion se detalla el balance general de el condominio las Palmas.
    </ion-card-content>
    <ion-card-content>
      <ion-row>
        <ion-col>
          DEUDA
        </ion-col>
        <ion-col>
          TOTAL: 
        </ion-col>     
      </ion-row>
      <ion-row>
        <ion-col>
          BALANCE
        </ion-col>
        <ion-col>
          TOTAL:
        </ion-col>
      </ion-row>   
    </ion-card-content>
  </ion-card>
    
</ion-content>