<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
    <ion-button type="submit" (click)="onLogout()"><ion-icon name="log-out"></ion-icon>logout</ion-button>
  </ion-toolbar>
</ion-header>

<!--, => {{user.displayName}}-->
<ion-content>
<strong>Binvenido</strong>

<ion-button routerLink="/tabs/tab2" expand="full" color="primary">Ir a mis Torres</ion-button>
<ion-button routerLink="/tabs/tab2" expand="full" color="secondary">Reservas</ion-button>
<ion-button routerLink="/reuniones" expand="full" color="tertiary">Reuniones</ion-button>
</ion-content>
