<ion-header>
  <ion-toolbar>
    <ion-title>Zona de pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngIf="apto">
      <ion-label position="floating">Propietario</ion-label>
      <ion-input required type="text" placeholder="Propietario" [(ngModel)]="apto.propietario" disabled></ion-input>
    </ion-item>
    <ion-item *ngIf="apto">
      <ion-label position="floating">Numero de apartamento</ion-label>
      <ion-input required type="text" placeholder="Apartamento" [(ngModel)]="apto.numapart" disabled></ion-input>
    </ion-item>
    <ion-item *ngIf="apto">
      <ion-label position="floating">Deuda Actual</ion-label>
      <ion-input required type="number" placeholder="0" [(ngModel)]="apto.saldo" disabled></ion-input>
    </ion-item>    
    <ion-item *ngIf="apto">
      <ion-label position="floating">Fecha de pago</ion-label>
      <ion-input required type="date" placeholder="0" [(ngModel)]="apto.finicio"></ion-input>
    </ion-item>
    <ion-item *ngIf="apto">
      <ion-label position="floating">Valor a pagar</ion-label>
      <ion-input required type="number" placeholder="0" [(ngModel)]="apto.pago"></ion-input>
    </ion-item>
  </ion-list>
  
  <ion-button expand="full" (click)="saveTodo()" color="success">Realizar pago</ion-button>
  <ion-button expand="full" Color="danger" routerLink="/tabs/tab2">Cancelar</ion-button>
</ion-content>
