<ion-header>
  <ion-toolbar>
    <ion-title>reservas-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngIf="apto">
      <ion-input required type="text" placeholder="Propietario" [(ngModel)]="apto.propietario" disabled></ion-input>
    </ion-item>
    <ion-item *ngIf="apto">
      <ion-input required type="number" placeholder="0" [(ngModel)]="apto.saldo"></ion-input>
    </ion-item>
    <ion-item *ngIf="reserva">
      <ion-input required type="number" [(ngModel)]="reserva.priority"></ion-input>
    </ion-item>
    <ion-item *ngIf="reserva">
      <ion-input required type="date" [(ngModel)]="reserva.fecha"></ion-input>
    </ion-item>
  </ion-list>

  
  <ion-button expand="full" (click)="saveTodo()">Save</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
      <ion-fab-button color="danger" (click)="onRemoveTodo(todoId)" routerLink="/" routerDirection="forward">
          <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
